<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
    <style>
        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: grey;
        }
        li{
            float:left
        }
        li a{
            display: block;
            color: white;
            text-align: center;
            padding: 0px 5px;
            text-decoration: none;
        }
        li a:hover {
            background-color: #111111;
        }
    </style>

</head>
<body style="background-color: grey;">
    <h1>Hello my name is {{ name }}</h1>
    <img src="Faza Aulia Aryoga.jpg" alt="My profile picture" width="150" height="200">
    <article>NPM : {{ npm }}</article>
    <article>I am {{ age }} years old</article>
    <p>Hi, my name is Faza Aulia Aryoga. I'm 2nd year student at University of Indonesia Faculty of Computer Science Batch
         Year 2018. I like playing games and learning new things. I am currently learning Unity Engine in my spare time.</p>
    <ul>
        <li><a href="https://www.instagram.com/faza_aryoga"><img src="instagram.jfif" alt="My instagram link" width="100" height="100"></a></li>
        <li><a href="https://www.linkedin.com/in/faza-aryoga-77a2a61a1/"><img src="linkedin.png" alt="My LinkedIn link" width="100" height="100"></a></li>
        <li><a href="https://steamcommunity.com/profiles/76561198127667028/"><img src="steam.jfif" alt="My Steam link" width="100" height="100"></a></li>
        <li><a><img src="my_qrcode_1580575791331.jpg" alt="My Line qr code" width="100" height="100"></a></li>
    </ul>
</body>
</html>
